body {
    font-family: Verdana, Geneva, sans-serif;
	margin-left: 40%;
	margin-right: 40%;
    font-size: 14px;
	width: 20%
}

div .center {
	text-align: center;
	display: block;
	margin: 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
	width: 100%;
    padding: 4px;
}
