body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    margin: auto;
    width: 500px;
}

div .center {
    text-align: center;
    display: block;
    margin: 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 4px;
}
