body {
    font-family: Courier New, monospace;
    font-size: 16px;
    margin: auto;
    width: 500px;
}

div#figure {
    height: 715px;
}

svg {
    overflow: visible;
    height: 100%;
    width: 100%;
}

#lobby {
    margin-top: 250px;
    display: block;
}

#text {
    text-align: center;
}

div.center {
    text-align: center;
    display: block;
    margin: 5px;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 4px;
}
