body {
    font-family: Courier New, monospace;
    font-size: 16px;
    margin: auto;
    width: 500px;
}

div#figure {
    height: 715px;
}

svg {
    overflow: visible;
    height: 100%;
    width: 100%;
}

#lobby {
    margin-top: 250px;
    display: block;
}

#text {
    text-align: center;
}

div.center {
    text-align: center;
    display: block;
    margin: 0px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 4px;
}

#slider {
    -webkit-appearance: none;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 4px;
    --Color: hsl(0, 0%, 0%);
    background: var(--Color);
    outline: none;
    opacity: 0.7;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 22px;
    background: var(--Color);
    cursor: pointer;
}
