body {
    font-family: Courier New, monospace;
    font-size: 13px;
    margin: auto;
    width: 600px;
    margin-bottom: 500px;
}

div#figure {
    width: 325px;
    height: 475px;
    margin-left: 125px;
    margin-bottom: 20px;
}

div#interlude {
    height: 150px;
    margin-bottom: 10px;
}

.outline {
    padding: 10px;
}

svg {
    overflow: visible;
    height: 100%;
    width: 100%;
}

#lobby {
    margin-top: 250px;
    display: block;
}

#text {
    text-align: center;
}

div.center {
    text-align: center;
    display: block;
    margin: 0px;
    margin-bottom: 20px;
}

.column {
    width: 280px;
}

#ledger {
    margin-right: 5px;
    float: left;
}

#chat {
    margin-left: 5px;
    float: right
}

#history {
    margin: 0px;
    height: 130px;
}

#chatInput {
    width: 80%;
}

#chatForm {
    opacity: 0;
}

#chatSubmit {
    float: right;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    --Color: hsl(0, 0%, 0%);
    background: var(--Color);
    outline: none;
    opacity: 0.7;
    margin: 0px;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--Color);
    cursor: pointer;
}
